

.main{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.titleSection{
  position: absolute;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.titleSectionAbove{
  z-index: 2;
}

.title{
  position: absolute;
  left: 150px;
  font-size: 200px;
}

.titleAbove{
  color: var(--primary-color);
}

.titleBelow{
  color: var(--secondary-color);
}

.subtitle{
  font-size: 128px;
  position: absolute;
  top: 170px;
  left: 440px;
}

.subtitleAbove{
  color: var(--secondary-color)
}
.subtitleBelow{
  color: var(--primary-color);
}

.subheading{
  position: absolute;
  bottom: 150px;
  left: 150px;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  white-space: nowrap;
}
.subheadingAbove{
  z-index: 2;
}
.service{
  position: absolute;
  font-size: 128px;
}
.serviceAbove{
  color: var(--primary-color);
}
.serviceBelow{
  color: var(--secondary-color);
}
.prices{
  position: absolute;
  font-size: 96px;
  top:100px;
  left: 600px;
}

.pricesAbove{
  color: var(--secondary-color);
}
.pricesBelow{
  color: var(--primary-color);
}

.bookButton{
  position: absolute;
  right: 200px;
  top: 200px;
  width: 100vw;
  height: 50vh;
  font-size: 128px;
  overflow: hidden;
  white-space: nowrap;
}
.bookButtonAbove{
  z-index:2;
}
.bookButtonText{
  position: absolute;
  right: 20px;
  text-align: start;
}
.bookButtonTextAbove{
  color: var(--primary-color);
}
.bookButtonTextBelow{
  color: var(--secondary-color);
}
.hello{
  font-size: 200px;
}

